@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');





*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    /* font-family: "Alumni Sans SC", sans-serif;    он будет для слайдерами с технологиями  */
    /* font-family: "Saira", sans-serif; */

}

html{scroll-behavior: smooth;}
a{text-decoration: none;}
h1{font-size: 55px;}

button{
  padding: 10px;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  margin-top: 85px;
  color: white;
  background: none;
  border: 2px solid white;
}

button:hover{
  transform: scale(1.1);
  transition: ease 0.3s;
  background-color: white;
  color: black;
}

input:focus{
  outline: none;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.content{
    max-width: 1000px;
    margin: 0 auto;
}

/* NAVIGATION LINE */


.navigation__menu{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(46, 46, 46, 0.9);
  z-index: 30;
}

#arrow-back{
  position: absolute;
  right: 15px;
  top: 5px;
}

.navigation__menu__list{
  position: relative;
  list-style: none;
  top: 15%;
}

.navigation__menu__list li{
  text-align: center;
  padding: 15px;
}

.navigation__menu__list a{
  color: white;
}


nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav::before{
  content: '';
  position: absolute;
  top: 60px;
  width: 999px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navigation{
    display: flex;
    gap: 80px;
    align-items: center;
}

#logo{cursor: pointer;}

#logo:hover{
  transition: ease 1s;
  transform: rotateX(360deg);
}

.navigation li{list-style: none;}

.navigation a{
    cursor: pointer;
    color: white;
}

.navigation a:hover{
  color: rgb(202, 90, 90);
  transition: ease 0.3s;
}

.navigation li:hover{
  transform: scale(1.1);
  transition: ease 0.3s;
}

#burger-menu{
  display: none;
}

/* HEADER CONTENT */


.background {
  position: absolute;
  top: 0; left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}


.header__content h2{
  color: rgb(202, 90, 90);
  position: relative;
  display: inline-block;
  right: 0;
}

.header__content{
  padding-top: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.header__content img{
  animation: 5s mercury3 infinite linear;
}

@keyframes mercury3 {
  0% {
    transform: translate(10px, 0);
  }
  25% {
    transform: translate(0, 10хч);
  }
  50% {
    transform: translate(-10px, 0);
  }
  75% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(10px, 0);
  }
}
 */

#robot{
  display: inline-block;
  position: relative;
}

#robot:hover{
  transition: ease 0.7s;
  transform: rotate(360deg);
}



/* MAIN CONTENT */


main{
    background-color: rgb(23, 23, 23);
    color: rgb(207, 201, 201);
    overflow: hidden;
}

.skills{
  text-align: center;
  padding: 50px 0;
}

.skills .content{
  overflow: hidden;
}

.technologies__list{
  max-width: 900px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
}

.techology{
  background-color: rgba(55, 55, 55, 0.4);
  min-width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 15px;
}

.techology:hover{
  transform: scale(1.1);
  transition: ease .6s;
}

.techology img{
  position: relative;
  bottom: -10px;
}

.techology p{
  position: relative;
  bottom: -30px;
  font-family: "Alumni Sans SC", sans-serif;
  font-size: 16px;
}


.projects{
  background-color: rgb(39, 39, 39);
  text-align: center;
  padding: 50px 0;
}

.projects__list{
  display: flex;
  padding: 30px 0;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;

}

.project{
  width: 240px;
  height: 240px;
  overflow: hidden;
}

.project:hover{
  filter: brightness(50%);
  transition: ease .4s;
}

.project__img{
  width: 100%;
  height: 100%;
  background-image: url('/source/project.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.contacts{
  width: 40%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.contacts form{
  text-align: center;
  padding: 30px 0;
}

.contacts form input{
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  background: none;
  color: white;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input[type=number] {
  -moz-appearance: textfield;
} */

.contacts form textarea{
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  background: none;
  color: white;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
}


.contacts button{
  margin-top: 30px;
}



/* FOOTER COONTENT */

footer{
  text-align: center;
  background-color: rgb(46, 46, 46);;
}

footer p{
  color: white;
}



/* media response */

@media (max-width: 480px) {
    nav::before{
    display: none;
  }
  .navigation{
    display: none;
  }
    .header__content{
    flex-wrap: wrap;
    text-align: center;
  }

  .header__content h1{
    font-size: 25px;
  }

  .header__content h2{
    position: static;

  }

  .header__content img{
    width: 300px;
    height: 300px;
  }

  .header__content button{
    margin: 20px auto;
  }

  #burger-menu{
    display: block;
  }
    .contacts{
    width: 65%;
  }

  .contacts form{
    width: 100%;
  }
  .contacts form input,
  .contacts form textarea{
    width: 100%;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  nav::before{
    display: none;
  }

  .navigation{
    display: none;
  }

  .header__content{
    flex-wrap: wrap;
    text-align: center;
  }

  .header__content h1{
    font-size: 25px;
  }

  .header__content h2{
    position: static;

  }

  .header__content img{
    width: 300px;
    height: 300px;
  }

  .header__content button{
    margin: 20px auto;
  }

  #burger-menu{
    display: block;
  }

  .contacts{
    width: 65%;
  }

  .contacts form{
    width: 100%;
  }
  .contacts form input,
  .contacts form textarea{
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  nav::before{
    display: none;
  }
}